<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="download.png" alt="">
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit eaque, dicta iusto pariatur deserunt fuga nihil
        delectus aut doloribus omnis voluptate dolorum rem recusandae facilis eveniet ducimus dolore ratione? Sunt cum
        iure, unde autem esse dolorem vel odio fuga rem eos voluptatum reiciendis quidem provident tenetur, minima
        inventore nemo. Sunt corrupti facilis quae molestiae cupiditate sed ratione dolore ipsum tempora expedita
        dolorum iusto illo officiis mollitia quos voluptatem est eum vel, reprehenderit numquam, placeat, laborum ut.
        Dicta maxime omnis voluptatem labore. Aspernatur, tempora modi iure placeat, eveniet impedit odit cum esse
        doloremque, iste quia. Est aspernatur quibusdam quam, voluptatum facere numquam blanditiis laudantium? Quibusdam
        odio nostrum pariatur, praesentium quis laboriosam aut, repudiandae magni a illum explicabo quas cumque
        blanditiis quisquam officiis ratione error aperiam nesciunt. Tenetur vel delectus officiis est. Nam velit cum
        inventore sequi ex, eaque reiciendis molestiae voluptate doloribus modi. Hic optio consectetur, aspernatur
        molestias nemo unde possimus?</p>
    <br>
    <h1><a href="/pag1">pag2</a></h1>
</body>

</html>