<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsa animi cum reprehenderit, officiis sapiente
        facere iure vero minima esse inventore voluptatem nihil culpa neque quibusdam libero? Corrupti culpa repudiandae
        ea quae numquam ratione? Obcaecati incidunt praesentium architecto possimus nesciunt deleniti suscipit quis et
        doloribus eaque, repellat voluptas. Ipsum quasi eaque dolorem dolor, earum adipisci sit cupiditate quam magni
        quisquam repudiandae molestiae voluptate veritatis numquam ut fugiat obcaecati rem minus nisi ipsam soluta
        porro. Rerum quibusdam consequuntur, quisquam esse atque et iusto porro, aspernatur enim odio fuga dolore
        blanditiis modi velit cumque. Neque quidem sint ipsa dicta itaque commodi nulla quaerat! Culpa quasi officiis
        mollitia eos incidunt itaque explicabo eligendi fuga expedita, debitis consectetur atque velit tempore nihil,
        nulla at id pariatur amet dolorum. Repellendus, debitis, assumenda ipsam dicta saepe vero omnis perspiciatis
        veritatis eum soluta atque architecto cupiditate quo quasi, exercitationem consequuntur dolores! Natus fugiat
        illo iste sit rem.</p>
    <br>
    <img src="{{ url_for('static', filename='imagem/download.png') }}" alt="Fecap-logo">
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, optio. Voluptatum, iure odit maiores non
        inventore minus earum dolorem impedit cum aliquam nulla deserunt. Nemo amet consequuntur, consectetur nihil
        itaque eligendi culpa, sunt quia voluptate numquam laudantium quidem nobis nostrum, adipisci tenetur blanditiis
        et fuga. Temporibus, doloribus rerum fugit, odit recusandae exercitationem aspernatur reprehenderit laborum quia
        inventore assumenda voluptate atque officia corrupti laudantium. Aspernatur esse laboriosam id! Possimus
        veritatis autem a rem perspiciatis nesciunt debitis minus, quas laudantium nostrum id nemo officiis. Excepturi
        consequatur assumenda nisi cupiditate adipisci, ducimus commodi sequi dolores aspernatur iusto at blanditiis
        nemo laborum voluptatem delectus corrupti aut sint ex. Tempore ex numquam aspernatur architecto, reprehenderit
        nobis quos qui commodi sapiente, asperiores, facilis itaque earum aliquid inventore ipsa obcaecati vero iusto
        nemo. Sapiente aut, blanditiis dolorem consequuntur quisquam dignissimos tempore perferendis. Dolore fugiat
        perspiciatis magni. Dolores officia iure recusandae laborum aspernatur tempora dolorem eius vero officiis!</p>
    <h1><a href="/">Index</a></h1>
    <h1><a href="/pag2">Par2</a></h1>
</body>

</html>